<div class="container-fluid banner-principal">
    <div class="banner-descricao">
        <p></p>
    </div>
    <div class="banner-logo">
        <p>
            <img src="assets/imgs/logo_showcase.jpg" class="d-block d-md-none align-top" alt="">
        </p>
    </div>
</div>

<div class="container vagas-empresa">
    <p *ngIf="carregandoVagas == true" class="text-center">
        <i class="fas fa-spinner fa-spin fa-3x my-3"></i><br>Preparando ambiente
        para você...
    </p>

    <p *ngIf="carregandoVagas == false && vagas.length == 0"
        class="text-center">
        Nenhuma vaga foi encontrada no momento!
    </p>

    <!--  Setor de vagas  -->
    <swiper class="slide-vagas" [slidesPerView]="1" [spaceBetween]="35" (swiper)="onSwiper($event)" [navigation]="false" [breakpoints]="breakpoints">
        <ng-template swiperSlide *ngFor="let vaga of vagas" class="card-vaga">
            <div (click)="abrirVaga(vaga)" class="card-vaga-logo">
                <img [src]="vaga.Empresa.Caracteristica.Logo" class="img-fluid" >
            </div>
            <div class="card-vaga-content">
                <p class="card-vaga-title">{{vaga.Part.nome}}</p>
                <p class="card-vaga-subtitle">{{vaga.Empresa.Caracteristica.Nome}}</p>
                <p class="card-vaga-subtitle">{{vaga.Part.cidade.Cidade}} - {{vaga.Part.cidade.UF}}</p>
            </div>
            <button (click)="abrirVaga(vaga)" class="btn btn-block btn-xl btn-main">
                Cadastre-se agora
            </button>
        </ng-template>
    </swiper>

    <p class="text-center my-3" *ngIf="carregandoVagas == false && vagas.length>
        3">
        <img src="assets/imgs/chevron-left.png" class=""
            (click)="previousSlide()">
        <img src="assets/imgs/chevron-right.png" class="" (click)="nextSlide()">
    </p>

    <p class="text-center my-4">
        <a class="btn btn-main btn-xl" [routerLink]="['/vagas']">Ver mais vagas</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-depoimento">
                <img class="card-img-top"
                    src="assets/imgs/Depoimentos/Alexia Alves.jpg"
                    alt="alexia alves">
                <div class="card-body">
                    <h3 class="card-title">Alexia Alves</h3>
                    <h4 class="card-title">[PRODUÇÃO AUDIOVISUAL]</h4>
                    <p class="card-text card-texto">Trabalhar aqui é especial por
                        muitas coisas, entre elas, estar constantemente
                        ligada a pessoas diferentes de mim, com idéias,
                        projetos, visões críticas e vivências
                        diversificadas, podendo compartilhar e crescer.
                        Outra coisa é o serviço final que a área de Produção
                        Audiovisual presta: produzir acessibilidade, o que
                        gera uma grande satisfação, pois é de muita
                        importância para quem utiliza e necessita, sendo uma
                        forma de inclusão.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-depoimento">
                <img class="card-img-top"
                    src="assets/imgs/Depoimentos/Dener.jpg"
                    alt="dener">
                <div class="card-body">
                    <h3 class="card-title">Dener Stassun</h3>
                    <h4 class="card-title">[PESQUISA, DESENVOLVIMENTO &
                        INOVAÇÃO]</h4>
                    <p class="card-text card-texto">Como desenvolvedor de software,
                        vejo a implementação de softwares para TV Digital
                        Brasileira como um terreno fértil para soluções
                        instigantes e inteligentes, tornando o trabalho
                        muito gratificante! Além disto, como estudante de
                        graduação, não seria possível aliar meus estudos ao
                        trabalho sem a flexibilidade presente na ShowCase.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-depoimento">
                <img class="card-img-top"
                    src="assets/imgs/Depoimentos/Erick Massayuki.jpg"
                    alt="erick">
                <div class="card-body">
                    <h3 class="card-title">Erick Massayuki</h3>
                    <h4 class="card-title">[TECNOLOGIA DA INFORMAÇÃO]</h4>
                    <p class="card-text card-texto">O que seria da humanidade sem o
                        suporte? Para nós do TI da ShowCase, todos os dias
                        levamos como aprendizagem e desafios. Nossas
                        ferramentas são específicas, não se aprende
                        perguntando ao Google, e sim, aceitando esse
                        desafio, o que acaba sendo mais instigante e
                        inovador! Além de tudo, é gratificante saber que
                        nossos esforços são convertidos em acessibilidade!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sobre-empresa">
    <div class="container">
        <h2 class="text-center py-4">SOBRE A SHOWCASE</h2>
            <div id="carrossel" class="carousel slide"
                data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carrosel"
                        data-slide-to="0" class="active"></li>
                    <li data-target="#carrossel"
                        data-slide-to="1"></li>
                    <li data-target="#carrossel"
                        data-slide-to="2"></li>
                    <li data-target="#carrossel"
                        data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carrossel-div"
                            src="assets/imgs/Galeria/showcase_paginadecarreiras (1).jpg"
                            alt="slide 1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carrossel-div"
                            src="assets/imgs/Galeria/showcase_paginadecarreiras (2).jpg"
                            alt="slide 1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carrossel-div"
                            src="assets/imgs/Galeria/showcase_paginadecarreiras (3).jpg"
                            alt="slide 1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carrossel-div"
                            src="assets/imgs/Galeria/showcase_paginadecarreiras (4).jpg"
                            alt="slide 1">
                    </div>
                </div>
                <a class="carousel-control-prev"
                    href="#carrossel" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next"
                    href="#carrossel" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
        </div>
        <p class="text-center my-4">
            <a [routerLink]="['/vagas']" class="btn btn-main btn-xl">Conheça
                nossas vagas</a>
        </p>
    </div>
</div>

<div class="container redes-sociais">
    <h3 class="text-center">Siga-nos nas redes sociais</h3>
    <p class="text-center">
        <a title="Website" href="https://www.giz.de/brasil" target="_blank">
            <img src="assets/imgs/globe.svg" alt="website" class="icon" />
        </a>
        <a title="Youtube"
            href="https://www.youtube.com/channel/UCa0N4-vi35zsfPyusrJjkEQ/featured"
            target="_blank">
            <img src="assets/imgs/youtube.svg" alt="youtube" class="icon" />
        </a>
        <a title="Twitter" href="https://twitter.com/giz_gmbh" target="_blank">
            <img src="assets/imgs/twitter.svg" alt="twitter" class="icon" />
        </a>
        <a title="Linkedin" href="https://www.linkedin.com/company/giz-brazil"
            target="_blank">
            <img src="assets/imgs/linkedin.svg" alt="linkedin" class="icon" />
        </a>
        <a title="Soundcloud" href="https://soundcloud.com/gizbrasil"
            target="_blank">
            <img src="assets/imgs/soundcloud.svg" alt="soundcloud" class="icon"
                />
        </a>
    </p>
</div>

<div class="container-fluid blog">
    <div class="container">
        <h3 class="text-center">Blog</h3>

        <p *ngIf="carregandoVagas == true" class="text-center">
            <i class="fas fa-spinner fa-spin fa-3x my-3"></i><br>Procurando
            últimos posts...
        </p>

        <!-- posts holder -->
        <div class="row">
            <div *ngFor="let post of posts" (click)="abrirPost(post)"
                class="col-12 col-md-4">
                <div class="card-blog">
                    <div class="card-blog-logo">
                        <img
                            [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
                    </div>
                    <h4 class="card-blog-title">
                        {{ post.title.rendered }}
                    </h4>
                </div>
            </div>
        </div>

        <p class="text-center my-4">
            <a class="btn btn-main btn-xl" target="_blank"
                href="https://www.reachr.com.br/blog/">Ver mais conteúdos</a>
        </p>
    </div>
</div>